/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./2-snackbar.css');

/*1-TIMER*/

.input-datetime-picker {
  max-width: 275px;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
  font: inherit;
  margin: 24px 8px 24px 24px;
}

.btn {
  width: 75px;
  height: 40px;
  padding: 8px 16px 8px 16px;
  gap: 10px;
  border-radius: 8px;
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 346px;
  gap: 8px;
}

.field {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.label {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.span {
  font-size: 40px;
  font-weight: 400;
  padding: 5px 10px;
  line-height: 48px;
  letter-spacing: 0.04em;
  text-align: left;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
}
